<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="/admin/dashboard" class="al-logo clearfix"><img src="../../../../assets/img/logo.png" width="60px"></a>
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu ng-hide="user === null"></a>

    <div class="user-profile clearfix" ng-hide="user === null"  ng-click="goToNotification()">
        <msg-center>
            <ul class="al-msg-center clearfix">
                <li uib-dropdown="" class="dropdown">
                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell-o"></i><span ng-if="socketNotification == true">new</span>
                        <div class="notification-ring"></div>
                    </a>
                </li>
            </ul>
        </msg-center>
    </div>
<!--

    <div class="user-profile clearfix">
            <ul class="al-msg-center clearfix">
                <li uib-dropdown="" class="dropdown">
                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell-o"></i><span ng-if="socketNotification == true">new</span>
                        <div class="notification-ring"></div>
                    </a>
                </li>
            </ul>
    </div>

-->

</div>