<div class="widgets">
    <div class="row">
        <div class="col-md-12">

            <div ba-panel ba-panel-title="User Profile" ba-panel-class="with-scroll" ng-init="profile.viewUser()">

                <div class="col-md-2">
                    <img class="profile-image" width="150" height="150"
                         src="{{profile.user.userData.profileImage || 'https://s3-us-west-2.amazonaws.com/roadroo/assets/profile-avatar-sample.png'}}" />
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="text-info large-text userNameMargin">{{profile.user.userData.firstName + " " + profile.user.userData.lastName || 'N/A'}}</span>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger btn-custom margin-adjust" ng-if="profile.user.userData.isBlocked == false"
                                    ng-click="profile.changeUserStatus('block')">Block
                            </button>
                            <button class="btn btn-success btn-custom margin-adjust" ng-if="profile.user.userData.isBlocked == true"
                                    ng-click="profile.changeUserStatus('unblock')">Unblock
                            </button>
                        </div>
                    </div>
                    <div class="row top10">
                        <div class="col-md-12">
                            <span class="text-contact">{{profile.user.userData.phoneNumber || 'N/A'}}, {{profile.user.email || 'N/A'}}</span>
                        </div>
                        <div class="col-md-12 top10">
                            <span class="text-contact text-contact-bold">Device Type:</span>
                            <span>{{profile.user.userData.deviceType | uppercase}}</span>
                        </div>
                        <div class="col-md-12 top10">
                            <span class="text-contact text-contact-bold">Status:</span>
                            <span class="badge badge-success-custom" ng-if="profile.user.userData.isBlocked == false">
                                Active
                            </span>
                            <span class="badge badge-danger-custom" ng-if="profile.user.userData.isBlocked == true">
                                Blocked
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div ba-panel ba-panel-title="Details">
                <div class="row">
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Date of Birth:</span>
                        <span class="text-contact">{{profile.user.userData.dateOfBirth | date}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Address:</span>
                        <span class="text-contact">{{profile.user.userData.address.streetAddress || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">City:</span>
                        <span class="text-contact">{{profile.user.userData.address.city || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Province:</span>
                        <span class="text-contact">{{profile.user.userData.address.state || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Postal Code:</span>
                        <span class="text-contact">{{profile.user.userData.address.postalCode || 'N/A'}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>