//JavaScript Files
script(type='text/javascript', src='../lib/jquery/dist/jquery.js')
script(type='text/javascript', src='../lib/jquery-ui/jquery-ui.js')
script(type='text/javascript', src='../lib/jquery.easing/js/jquery.easing.js')
script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyCf19NSnQFNQZqhYQ0bw_9rU0G_3kNSuCI')
script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js')

//Angular Modules
script(type='text/javascript', src='../lib/angular/angular.js')
script(type='text/javascript', src='../lib/angular-route/angular-route.js')
script(type='text/javascript', src='../lib/slimScroll/jquery.slimscroll.js')
script(type='text/javascript', src='../lib/angular-slimscroll/angular-slimscroll.js')
script(type='text/javascript', src='../lib/angular-smart-table/dist/smart-table.js')
script(type='text/javascript', src='../lib/angular-toastr/dist/angular-toastr.tpls.js')
script(type='text/javascript', src='../lib/angular-touch/angular-touch.js')
script(type='text/javascript', src='../lib/angular-ui-sortable/sortable.js')
script(type='text/javascript', src='../lib/bootstrap/js/dropdown.js')
script(type='text/javascript', src='../lib/bootstrap-select/dist/js/bootstrap-select.js')
script(type='text/javascript', src='../lib/bootstrap-switch/dist/js/bootstrap-switch.js')
script(type='text/javascript', src='../lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.js')
script(type='text/javascript', src='../lib/moment/moment.js')
script(type='text/javascript', src='../lib/angular-google-maps/angular-google-maps.js')
script(type='text/javascript', src='../lib/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='../lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='../lib/angular-animate/angular-animate.js')
script(type='text/javascript', src='../lib/angular-ui-select/dist/select.js')
script(type='text/javascript', src='../lib/angular-local-storage/dist/angular-local-storage.min.js')
script(type='text/javascript', src='../lib/angular-spinner/angular-spinner.min.js')
script(type='text/javascript', src='../lib/angular-aria/angular-aria.js')
script(type='text/javascript', src='../lib/angular-material/angular-material.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.7/angular-simple-logger.js')

//Application InIt
script(type='text/javascript', src='../webApp/common/config.js')
script(type='text/javascript', src='../webApp/pages/pages.module.js')
script(type='text/javascript', src='../webApp/common/apiService.js')
script(type='text/javascript', src='../webApp/common/common.services.js')

//Application Module Files for Navigation
script(type='text/javascript', src='../webApp/pages/index/index.module.js')

//Application Module Files
script(type='text/javascript', src='../webApp/app.js')

//Add Modules Files here for Directive, Components, Controller, Services and Filters
// Login Module files
script(type='text/javascript', src='../webApp/pages/login/login.module.js')
script(type='text/javascript', src='../webApp/pages/login/login.services.js')
script(type='text/javascript', src='../webApp/pages/login/login.controller.js')
//Signup Module Files
script(type='text/javascript', src='../webApp/pages/signup/signup.module.js')
script(type='text/javascript', src='../webApp/pages/signup/signup.services.js')
script(type='text/javascript', src='../webApp/pages/signup/signup.controller.js')

//Sender Module Files
script(type='text/javascript', src='../webApp/pages/sender/sender.module.js')
script(type='text/javascript', src='../webApp/pages/sender/sender.services.js')
script(type='text/javascript', src='../webApp/pages/sender/home/home.controller.js')
script(type='text/javascript', src='../webApp/pages/sender/gig/gig.controller.js')


