<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" enctype="multipart/form-data" name="addEdit.addEditCtrlForm" ng-submit="addEdit.addCategory(addEdit.category);" >
            <div class="modal-header">
                <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Category Name in English"
                               ng-model="addEdit.category.nameEng" maxlength="30" minlength="3" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="name2" name="name2" placeholder="Category Name In French"
                               ng-model="addEdit.category.nameFr" maxlength="30" minlength="3" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>