<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Select SP</h4>
    </div>
    <div class="modal-body">
        <form name="addTask">
            <div class="form-group">
                <div class="col-md-4" ng-repeat="item in assign.helpmates" style="padding: 0px; padding-bottom: 10px;">
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="inlineRadioOptions" ng-model="assign.selectedItem" id="inlineRadio1" value="{{item.spId}}">
                        <span class="radioInline">
                            <span><img src="{{item.spProfileImage || 'https://help-connect.s3.ca-central-1.amazonaws.com/profile-images/1513245286164-dummy.png'}}" height="50" width="50" style="margin-bottom: 20px"/></span>
                            <span class="row" style="display: inline-block">
                                <span class="col-md-12" style="margin-bottom: 5px"><strong>{{item.spName  | uppercase}}</strong></span>
                                <span class="col-md-12">{{'Phone: '+item.spPhoneNumber}}</span>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="assign.assignHelpmate(assign.selectedItem);" style="margin-top: 50px">Assign
        </button>
    </div>
</div>