<div class="widgets">
    <div class="row">
        <div class="col-md-12">

            <div ba-panel ba-panel-title="Job Details" ba-panel-class="with-scroll" ng-init="listing.viewJobData()">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="text-info large-text userNameMargin">Location: {{listing.jobData.address || 'N/A'}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 rowTopCustom">
                            <span class="text-contact text-contact-bold">Service:</span>
                            <span class="text-contact label label-primary tasks-label">
                                {{listing.jobData.serviceId.name.en | uppercase}}
                            </span>
                        </div>
                        <div class="col-md-6 rowTopCustom">
                            <span class="text-contact text-contact-bold">User Amount Charged:</span>
                            <span class="text-contact">{{listing.jobData.jobAmountObj.userAmountCharged || 'N/A'}}</span>
                        </div>
                        <!--<div class="col-md-6 rowTopCustom">-->
                        <!--<span class="text-contact text-contact-bold">Time Slots:</span>-->
                        <!--<span class="text-contact">{{listing.jobData.offerRate.hours || 'N/A'}}</span>-->
                        <!--</div>-->
                        <div class="col-md-6 rowTopCustom">
                            <span class="text-contact text-contact-bold">Slot Start Date:</span>
                            <span class="text-contact" ng-if="listing.jobData.orderDateTime.slotStartTime !== 0">{{listing.jobData.orderDateTime.day}}-{{listing.jobData.orderDateTime.month}}-{{listing.jobData.orderDateTime.year}}</span>
                        </div>
                        <div class="col-md-6 rowTopCustom">
                            <span class="text-contact text-contact-bold">Start Time:</span>
                            <span class="text-contact" ng-if="listing.jobData.orderDateTime.startHourMinute == 0">{{listing.jobData.orderDateTime.startHour }}:0{{listing.jobData.orderDateTime.startHourMinute}}</span>
                            <span class="text-contact" ng-if="listing.jobData.orderDateTime.startHourMinute !== 0">{{listing.jobData.orderDateTime.startHour }}:{{listing.jobData.orderDateTime.startHourMinute}}</span>
                        </div><!--
                        <div class="col-md-6 rowTopCustom">
                            <span class="text-contact text-contact-bold">Slot End Date:</span>
                            <span class="text-contact" ng-if="listing.jobData.orderDateTime.slotEndTime">{{listing.jobData.orderDateTime.slotEndTime * 1000 | date: 'MMM d, y'  || 'N/A'}}</span>
                        </div>-->
                        <div class="col-md-6 rowTopCustom">
                            <span class="text-contact text-contact-bold">End Time:</span>
                            <span class="text-contact" ng-if="listing.jobData.orderDateTime.endHourMinute == 0">{{listing.jobData.orderDateTime.endHour }}:0{{listing.jobData.orderDateTime.endHourMinute}}</span>
                            <span class="text-contact" ng-if="listing.jobData.orderDateTime.endHourMinute !== 0">{{listing.jobData.orderDateTime.endHour }}:{{listing.jobData.orderDateTime.endHourMinute}}</span>
                        </div>
                        <!-- <div class="col-md-6 rowTopCustom" ng-if="listing.jobData.status== 4">
                             <span class="text-contact text-contact-bold">Actual Start Time:</span>
                             <span class="text-contact">{{listing.jobData.actualStartTime | date: 'MMM d, y'}}</span><span ng-if="!listing.jobData.actualStartTime">N/A</span>
                         </div>
                         <div class="col-md-6 rowTopCustom" ng-if="listing.jobData.status== 4">
                             <span class="text-contact text-contact-bold">Actual End Time:</span>
                             <span class="text-contact">{{listing.jobData.actualEndTime | date: 'MMM d, y'  || 'N/A'}}</span><span ng-if="!listing.jobData.actualEndTime">N/A</span>
                         </div>-->
                        <!-- <div class="col-md-6 rowTopCustom">
                             <span class="text-contact text-contact-bold">Job Duration (Hours):</span>
                             <span class="text-contact">{{listing.jobData.totalTimeSpendOnJob || 'N/A'}}</span>
                         </div>-->
                        <div class="col-md-12 rowTopCustom">
                            <span class="text-contact"  style="float: right">
                                <button type="button" class="btn btn-primary"
                                        ng-if="listing.jobData.requestedToAdmin == true && listing.jobData.status == 1"
                                        ng-click="listing.getHelpmates(listing.jobData);"
                                >
                                    Assign Service Provider
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <!--<div class="row" ng-if="listing.jobData.status ==='Completed' || listing.jobData.status ==='Finished'">
                <div ba-panel ba-panel-title="Refund Details" class="col-md-12">
                    <div class="col-md-6">
                        <span class="text-contact text-contact-bold">Refund Amount:</span>
                        <span class="text-contact">{{listing.jobData.refundAmount || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6">
                        <span class="text-contact text-contact-bold">Refund Reason:</span>
                        <span class="text-contact">{{listing.jobData.refundReason || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 rowTopCustom">
                        <span class="text-contact text-contact-bold">Refund Reject Reason:</span>
                        <span class="text-contact">{{listing.jobData.rejectedReason || 'N/A'}}</span>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div ba-panel ba-panel-title="User" class="col-lg-6 seeker-panel">
                    <div>
                        <span class="text-contact text-contact-bold">Name:</span>
                        <span class="text-contact">{{listing.jobData.userId.userData.firstName +" "+listing.jobData.userId.userData.lastName || 'N/A'}}</span>
                        <span class="text-contact" ng-if="!listing.jobData.userId.userData.firstName">N/A</span>
                    </div>
                    <div>
                        <span class="text-contact text-contact-bold">Mobile:</span>
                        <span class="text-contact">{{listing.jobData.userId.userData.phoneNumber|| 'N/A'}}</span>
                    </div>
                </div>

                <div ba-panel ba-panel-title="Service Provider" class="col-lg-6 seeker-panel">
                    <div>
                        <span class="text-contact text-contact-bold">Name:</span>
                        <span class="text-contact" ng-if="listing.jobData.spId">{{listing.jobData.spId.spData.firstName +" "+ listing.jobData.spId.spData.lastName}}</span>
                        <span class="text-contact" ng-if="!listing.jobData.spId">N/A</span>
                    </div>
                    <div>
                        <span class="text-contact text-contact-bold">Mobile:</span>
                        <span class="text-contact">{{listing.jobData.spId.spData.phoneNumber|| 'N/A'}}</span>
                    </div>
                    <div>
                        <span class="text-contact text-contact-bold">Average Rating:</span>
                        <span class="text-contact">{{listing.jobData.spId.spData.avgRating|| 'N/A'}}</span>
                    </div>
                    <div>
                        <span class="text-contact text-contact-bold">Service Provider Rate</span>
                        <span class="text-contact">{{listing.jobData.jobAmountObj.spServiceRate || 'N/A'}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>