<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" enctype="multipart/form-data" name="addEdit.addEditCtrlForm" ng-submit="addEdit.addService(addEdit.service);" >
       <!--     <div class="modal-header">
                <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">Add Service</h4>
            </div>-->

            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="name1" name="name" placeholder="Sub Service Name in English"
                               ng-model="addEdit.service.name.en" maxlength="30" minlength="3" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="name2" name="name" placeholder="Sub Service Name in French"
                               ng-model="addEdit.service.name.fr" maxlength="30" minlength="3" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                         <select class="form-control " id="categories" name="categories"
                                ng-model="addEdit.service.category" required>
                            <option value="" selected>Select Service</option>
                            <option value="{{val._id}}" ng-repeat="val in addEdit.categories">{{val.name.en}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-repeat="element in elements">
                        <div class="col-sm-5 top10">
                            <input type="text" class="form-control" placeholder="Sub Service Duration In Minutes" maxlength="30"
                                   ng-model="element.durationInMins"
                                   required>
                        </div>
                        <div class="col-sm-5 top10">
                            <input type="text" class="form-control" placeholder="Sub Service Charges(C$) " maxlength="30"
                                   ng-model="element.charges"
                                   required>
                        </div>
                        <div class="col-sm-2 top10">
                            <input type="button" class="btn btn-warning btn-xs" ng-click="elements.splice($index, 1)" value="Remove">
                        </div>
                    </div>
                    <div class="col-sm-12 top10">
                        <input type="button" class="btn btn-warning btn-xs" ng-click="newItem()" value="Add Duration and Rates" style="float: right">
                    </div>
                </div>


            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>