<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="" ba-panel-class="" ng-init="ctg.getSp();">
                <div>
                	<div class="row">
                		<div class="form-group">
		                    <div class="col-sm-3">
		                        <span class="text-contact text-contact-bold">Service Provider Name:</span>
		                    </div>
		                    <div class="col-sm-3">
		                        <span class="text-contact text-contact-bold">Start Date:</span>
		                    </div>
		                    <div class="col-sm-3">
		                        <span class="text-contact text-contact-bold">End Date:</span>
		                    </div>
		                </div>
                	</div>
                	<div class="row">
                        <form ng-submit="ctg.getReport()">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <input type="text" ng-model="ctg.reportParams.spId" placeholder="Service Provider Name" required
                                           class="form-control" typeahead-min-length="0" required
                                           uib-typeahead="category as category.fullName for category in ctg.spList() | filter:$viewValue | limitTo:8"
                                    >

                                </div>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control" id="startDate" name="startDate"
                                           ng-model="ctg.reportParams.startDate" required onkeydown="return false"
                                           required
                                    >
                                </div>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control" id="endDate" name="endDate"
                                           ng-model="ctg.reportParams.endDate" required onkeydown="return false"
                                           required
                                    >
                                </div>
                                <div class="col-sm-3">
                                    <span class="buttons">
                                        <input type="submit" class="btn btn-primary" style="width: -webkit-fill-available" value="View Report">
                                    </span>
                                </div>
                            </div>
                        </form>
                	</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row customHeader">
                                <div class="text-center col-md-1">S.No</div>
                                <div class="text-center col-md-2">Total Amount(CAD)</div>
                                <div class="text-center col-md-2">Service Provider Earnings(CAD)</div>
                                <div class="text-center col-md-3">Job Date/Time</div>
                                <div class="text-center col-md-2">Job Detail</div>
                            </div>
                        </div>

                        <div class="col-md-12 customBody">
                            <div class="row" style="margin-top: 2vh">
                                <div class="col-md-12" ng-repeat="item in ctg.reports.job track by $index" >
                                    <div class="row customRow">
                                        <div class="text-center col-md-1">{{$index + 1}}</div>
                                        <div class="text-center col-md-2">{{item.userAmountCharged || 'N/A'}}</div>
                                        <div class="text-center col-md-2">{{item.spEarning || 'N/A'}}</div>
                                        <!--<div class="text-center col-md-3">{{item.jobDateTime * 1000 | date: 'MMM d, y h:mm:ss a'}}</div>-->
                                        <div class="text-center col-md-2"><a href="job/{{item.jobId}}">View Details</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="ctg.noRecordsFound" class="text-center col-md-12" style="height: 7vh; padding-top: 2vh;"
                        > 0 Records. </div>

                        <div class="col-md-12" ng-hide="ctg.noRecordsFound">
                            <div class="row customHeader">
                                <div class="text-center col-md-1"><strong>Total</strong></div>
                                <div class="text-center col-md-2"><strong>{{ctg.reports.totalAmount | number: 2}}</strong></div>
                                <div class="text-center col-md-2"><strong>{{ctg.reports.totalEarning | number: 2}}</strong></div>
                                <div class="text-center col-md-2"><strong></strong></div>
                                <div class="text-center col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>