<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12"
         ba-panel ba-panel-title="Rejected Service providers List" ba-panel-class="with-scroll">
        <table class="table table-hover table-custom" st-table="listing.sp" st-pipe="listing.getRejectSp">
            <thead>
            <tr>
                <th>
                    <input st-search="" ng-model="listing.search" placeholder="Search" class="input-sm form-control searchText" type="search" maxlength="20"/>
                </th>
            </tr>
            <tr class="black-muted-bg sortable">
                <th class="table-id">#</th>
                <th>Profile Image</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in listing.sp track by $index">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                    <img class="profile-image" src="{{item.spData.profileImage || 'https://s3-ap-southeast-2.amazonaws.com/labour-choice/assets/profile_avatar%403x.png'}}" width="40" height="40" >
                </td>
                <td>{{item.spData.firstName || 'N/A'}}</td>
                <td>{{item.spData.lastName || 'N/A'}}</td>
                <td>{{item.spData.email || 'N/A'}}</td>
                <td>{{item.spData.phoneNumber || 'N/A'}}</td>
                <td class="action-td">
                                <span class="buttons">
                                    <a class="btn btn-primary detailsBtn" href="/admin/sp/{{item._id}}"> Details</a>
                                </span>
                </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td ng-show="listing.noUserFound" class="text-center" colspan="9"> No data found. </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="listing.itemsPerPage"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>