<div class="widgets">
    <div class="row">
        <div class="col-md-12">

            <div ba-panel ba-panel-title="Service Provider Profile" ba-panel-class="with-scroll"
                 ng-init="profile.viewSp()">

                <div class="col-md-2">
                    <img class="profile-image" width="150" height="150"
                         src="{{profile.sp.spData.profileImage || 'https://s3-us-west-2.amazonaws.com/roadroo/assets/profile-avatar-sample.png'}}"/>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="text-info large-text userNameMargin">{{profile.sp.spData.firstName + " " + profile.sp.spData.lastName || 'N/A'}}</span>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger btn-custom margin-adjust"
                                    ng-if="profile.sp.spData.isBlocked == false && profile.sp.spData.isAdminVerified == true"
                                    ng-click="profile.changeSpStatus('block')">Block
                            </button>
                            <button class="btn btn-success btn-custom margin-adjust"
                                    ng-if="profile.sp.spData.isBlocked == true && profile.sp.spData.isAdminVerified === true"
                                    ng-click="profile.changeSpStatus('unblock')">Unblock
                            </button>
                            <button class="btn btn-danger btn-custom margin-adjust"
                                    ng-if="profile.sp.spData.isAdminRejected == false && profile.sp.spData.isAdminVerified == false"
                                    ng-click="profile.changeSpStatus('reject')">Reject
                            </button>
                            <button class="btn btn-success btn-custom margin-adjust"
                                    ng-if="profile.sp.spData.isAdminVerified === false"
                                    ng-click="profile.changeSpStatus('accept')">Accept
                            </button>
                        </div>
                    </div>
                    <div class="row top10">
                        <div class="col-md-12">
                            <span class="text-contact">{{profile.sp.spData.phoneNumber || 'N/A'}}, {{profile.sp.email || 'N/A'}}</span>
                        </div>
                        <div class="col-md-12 top10">
                            <span class="text-contact text-contact-bold">Device Type:</span>
                            <span>{{profile.sp.spData.deviceType | uppercase}}</span>
                        </div>
                        <div class="col-md-12 top10">
                            <span class="text-contact text-contact-bold">Status:</span>
                            <span class="badge badge-success-custom"
                                  ng-if="profile.sp.spData.isBlocked == false && !profile.sp.spData.isAdminRejected && profile.sp.spData.isAdminVerified">
                                Active
                            </span>
                            <span class="badge badge-danger-custom"
                                  ng-if="profile.sp.spData.isBlocked == true && !profile.sp.spData.isAdminRejected">
                                Blocked
                            </span>
                            <span class="badge badge-danger-custom" ng-if="profile.sp.spData.isAdminRejected">
                                Rejected
                            </span>
                            <span class="badge badge-danger-custom" ng-if="!profile.sp.spData.isAdminVerified">
                                Inactive
                            </span>
                            <!--<button class="btn btn-success btn-custom" style="margin-right: 5px; margin-right: 0.3vh"
                                    ng-click="profile.sendMail()">Send Email
                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
            <div ba-panel ba-panel-title="Details">
                <div class="row">
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Date of Birth:</span>
                        <span class="text-contact">{{profile.sp.spData.dateOfBirth | date}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Address:</span>
                        <span class="text-contact">{{profile.sp.spData.address.streetAddress || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">City:</span>
                        <span class="text-contact">{{profile.sp.spData.address.city || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Province:</span>
                        <span class="text-contact">{{profile.sp.spData.address.state || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Postal Code:</span>
                        <span class="text-contact">{{profile.sp.spData.address.postalCode || 'N/A'}}</span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Willingness to travel:</span>
                        <span class="text-contact">{{profile.sp.spData.serviceArea.distanceInKm + " Km" || 'N/A'}}</span>
                    </div>
                </div>
            </div>

            <div ba-panel ba-panel-title="Professions">
                <div class="row">
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Services:</span>
                        <span class="text-contact" ng-repeat="item in profile.sp.spData.servicesOffered">{{item.serviceId.name.en}}<font
                                ng-show="!$last">,</font></span>
                    </div>
                    <div class="col-md-6 top10">
                        <span class="text-contact text-contact-bold">Sub Services:</span>
                        <span class="text-contact" ng-repeat="item in profile.sp.spData.subServicesOffered">{{item.subServiceId.name.en || 'N/A'}}<font
                                ng-show="!$last">,</font></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 top10">
                    <div ba-panel ba-panel-title="Documents">
                        <!--<div>-->
                        <!--<span class="text-contact text-contact-bold">Services:</span>-->
                        <!--<span class="text-contact" ng-repeat="item in profile.sp.spData.servicesOffered">{{item.serviceId.name.en | uppercase}}<font ng-show="!$last">,</font></span>-->

                        <!--</div>-->
                        <div ba-panel ba-panel-title="License Images">
                            <div ng-repeat="item in profile.sp.spData.licenseImages">
                                <div ng-if="item.licenseImageUrlFront || item.licenseImageUrlBack">

                                    <div class="row">
                                        <div class="col-md-3 top10">
                                            <span class="text-contact text-contact-bold">Document Title:</span>
                                            <span class="text-contact">{{item.documentType}}</span>
                                            <img class=" button-space"
                                                 src="{{item.licenseImageUrlFront || 'https://s3-us-west-2.amazonaws.com/roadroo/assets/profile-avatar-sample.png'}}"
                                                 width="400" height="400">
                                            <a class="btn btn-primary downloadBtn rowTopCustom" id="front-license"
                                               ng-click="profile.downloadImageFront(item.licenseImageUrlFront)"
                                               download="" href="">Download Front Image</a>
                                        </div>

                                        <div class="col-md-3 top10  image-space">
                                            <img class=" button-space"
                                                 src="{{item.licenseImageUrlBack || 'https://s3-us-west-2.amazonaws.com/roadroo/assets/profile-avatar-sample.png'}}"
                                                 width="400" height="400">
                                            <a class="btn btn-primary downloadBtn rowTopCustom" id="back-license"
                                               ng-click="profile.downloadImageBack(item.licenseImageUrlBack)"
                                               download="" href="">Download Back Image</a>
                                        </div>

                                        <!---->
                                        <div class="col-sm-3" ng-if="item.associateTOService === undefined || item.associateTOService === null">
                                            <select   class="form-control dropDown" id="subcategory1" name="subCategoryId"
                                                    ng-model="option.serviceId._id"
                                                    ng-disabled="subCatSelect"
                                                    ng-options="option.serviceId.name.en for option in profile.myArr">
                                                <option value="" selected="selected">Select Services</option>
                                            </select>


                                            <div ng-if="option.serviceId._id">
                                                <button class="btn btn-success approveBtn"
                                                        ng-click="profile.verifyCategoryService(option.serviceId._id, 'approved', item);">
                                                    Approve
                                                </button>
                                            </div>
                                        </div>
                                        <div class="aa"
                                             ng-if="item.associateTOService">
                                            <span class="text-contact serviceName">{{item.associateTOService.name.en}}</span>
                                            <button class="btn btn-danger "
                                                    ng-click="profile.verifyCategoryService(item, 'disApprove', item);">
                                                Disapprove
                                            </button>
                                        </div>




                                        <!--    <div ng-if="profile.selectedService.verifiedByAdmin === true ">
                                                <button class="btn btn-danger approveBtn"
                                                        ng-click="profile.verifyCategoryService(profile.selectedService, 'disApprove');">
                                                    Disapprove
                                                </button>
                                            </div>
    -->
                                    </div>


                                    <hr>
                                </div>
                            </div>
                        </div>
                        <!--   <div class="row">
                               <div class="form-group">

                               </div>
                           </div>
   -->
                    </div>
                </div>

            </div>

            <div ng-if="profile.sp.spData.identityDocuments.imageUrlFront || profile.sp.spData.identityDocuments.imageUrlBack">
                <div ba-panel ba-panel-title="Identity Images">
                    <div class="row">
                        <div class="col-md-6 top10">
                            <img src="{{profile.sp.spData.identityDocuments.imageUrlFront || 'https://s3-us-west-2.amazonaws.com/roadroo/assets/profile-avatar-sample.png'}}"
                                 width="400" height="400">
                            <a class="btn btn-primary downloadBtn rowTopCustom" id="front-card"
                               ng-click="profile.downloadImageFront(profile.sp.spData.identityDocuments.imageUrlFront)" download="" href="">Download
                                Front Image</a>
                        </div>
                        <div class="col-md-6 top10">
                            <img src="{{profile.sp.spData.identityDocuments.imageUrlBack || 'https://s3-us-west-2.amazonaws.com/roadroo/assets/profile-avatar-sample.png'}}"
                                 width="400" height="400">
                            <a class="btn btn-primary downloadBtn rowTopCustom" id="back-card"
                               ng-click="profile.downloadImageBack(profile.sp.spData.identityDocuments.imageUrlBack)" download="" href="">Download
                                Back Image</a>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div ba-panel ba-panel-title="Stripe Identify Verification">
                <div class="row">
                    <div class="col-md-6 rowTopCustom">
                        <div>
                            <img src="{{profile.sp.spData.stripeConcatImage || 'https://roadroo.s3-us-west-2.amazonaws.com/uploaded_files/1000X1000/1513243622389-business-card-icon-address-business-card-contact-profile-icon-icon-search-engine-templates.png'}}"
                                 alt="N/A" width="600" height="400"/>
                        </div>
                        <label class="btn btn-primary btn-file rowTopCustom custom-margin">
                            Upload
                            <input type="file" ng-file-select="profile.uploadImage();" accept=".png,.jpg,.jpeg"
                                   style="display: none">
                        </label>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>