<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <table class="table table-hover table-custom" st-table="listing.promoCodes" st-pipe="listing.getPromoCodes">
                        <thead>
                        <tr>
                            <th>
                                <input st-search="" ng-model="listing.search" placeholder="Search" class="input-sm form-control searchText" type="search" maxlength="20"/>
                            </th>
                        </tr>
                        <tr class="black-muted-bg sortable">
                            <th class="table-id">#</th>
                            <th>Code</th>
                            <th class="widthPromo">Promo Message</th>
                            <th>Percentage</th>
                            <th>Start Date</th>
                            <th>Expiry Date</th>
                            <th>Status</th>
                            <th>Messages Sent</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in listing.promoCodes track by $index">
                            <td class="table-id">{{listing.currentPage*10+$index + 1}}</td>
                            <td>
                                {{item.code || 'N/A'}}
                            </td>
                            <td>{{item.promoMessage || 'N/A'}}</td>
                            <td>{{item.percentage || 'N/A'}} %</td>
                            <td>{{item.startDate * 1000 | date: 'MMM d, y' }}</td>
                            <td>{{item.expiryDate * 1000 | date: 'MMM d, y' }}</td>
                            <td>
                                <span class="badge badge-success-custom" ng-if="item.status == false">
                                    Active
                                </span>
                                <span class="badge badge-danger-custom" ng-if="item.status == true">
                                    Archived
                                </span>
                            </td>
                            <td class="text-center">
                                <i class="fa fa-check-circle PromoMsgTick" ng-if="item.isPromoInSend == true"></i>
                                <i class="fa fa-times-circle PromoMsgCross" ng-if="item.isPromoInSend == false"></i>
                            </td>
                            <td class="action-td text-center">
                                <span class="buttons" ng-if="item.status == false">
                                    <a class="btn btn-danger" ng-click="listing.blockCode(item)">Archived</a>
                                </span>

                                <span class="buttons" ng-if="item.status == true">
                                    <a class="btn btn-success" ng-click="listing.unBlockCode(item)">Unarchived</a>
                                </span>

                                <span class="buttons" ng-if="item.allSend === false && item.status == false">
                                    <a class="btn btn-warning" ng-if="item.isPromoInSend == false" ng-click="listing.sendMessagesToSeekers(item)">Send Messages</a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td ng-show="listing.noUserFound" class="text-center" colspan="9"> No request found. </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-pagination="" st-items-by-page="listing.itemsPerPage"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>